@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">Check out our catalog of amazing products!</p>
    </div>
</div>

<div class="card" style="width: 15em;">
    <img src="https://via.placeholder.com/500?text=Placeholder+Image" class="card-img-top" alt="" />
    <div class="card-body">
        <h5 class="card-title">Popular Products</h5>
        <p class="card-text">Click below to see the most commonly purchased items.</p>
        <a href="#" class="btn btn-primary">See products</a>
    </div>
</div>